@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap');

/* Global Styles */
:root {
  --primary-color: #58585b;
  --hover-color: #787882;
  --light-color: #c1c1c6;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: var(--primary-color);
  color: var(--light-color);
}

a {
  color: var(--primary-color);
  text-decoration: none;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

a:hover,
a:active,
a:focus {
  color: #666;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

.App {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

@media (min-width: 600px) {
  .App {
    padding-top: 6rem;
  }
}

/* Utilities */
.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 1.5rem;
}

/* Text Styles*/
.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

/* Center All */
.all-center {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Cards */
.articles {
  margin: 0 -1rem;
}

.card {
  background-color: white;
  margin: 2.5rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card__image {
  transition: -webkit-transform 0.8s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 0.8s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 0.8s cubic-bezier(0.4, 0, 0.2, 1),
    -webkit-transform 0.8s cubic-bezier(0.4, 0, 0.2, 1);
  object-fit: cover;
}

.card:hover .card__image {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.card__details {
  padding: 1.3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 0.9rem;
}

.card:hover .card__details {
  color: var(--hover-color);
}

.card__details-subject {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.8rem;
  padding-bottom: 2rem;
}

.card__details-title {
  font-weight: 600;
}

.card__details-author-date {
  font-size: 0.8rem;
  text-transform: uppercase;
  padding-top: 4rem;
}

.card__details-desc {
  display: none;
}

@media (min-width: 600px) {
  .card {
    flex-direction: row;
    width: calc(50% - 2rem);
    height: 50%;
    float: left;
  }

  .card__image {
    max-width: 60%;
  }

  .card__details {
    padding: 1rem;
    font-size: 0.8rem;
  }

  .card:nth-child(2n + 1) {
    flex-direction: column;
    float: right;
  }

  .card:nth-child(2n + 1) img {
    max-width: 100%;
  }

  .card:nth-child(2n + 1) .card__details-desc {
    display: inline;
  }

  .card:nth-child(4n + 1) {
    width: calc(100% - 2rem);
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .card:nth-child(4n + 1) img {
    max-width: 63%;
  }
}

@media (min-width: 1024px) {
  .card__details {
    padding: 3rem 2rem;
    font-size: 1rem;
  }
}
/* Navigation */
.filter-title {
  color: white;
  font-weight: 500;
}
nav ul {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  z-index: 2;
  align-content: flex-start;
  list-style: none;
}

nav li {
  padding: 0.6rem 0;
  padding-right: 1.5rem;
  cursor: pointer;
  position: relative;
}

.filters__tab a,
.filters__tab div {
  color: var(--light-color);
  position: relative;
}

.filters__tab--active a {
  color: white;
}

.filters__tab::after {
  transition: width 0.4s cubic-bezier(0.6, 0.04, 0.98, 0.335);
  content: '';
  width: 0;
  height: 1px;
  background-color: #85858f;
  display: block;
  position: absolute;
  bottom: 0;
}

.filters__tab--active::after {
  width: calc(100% - 2rem);
  background-color: #ffffff;
}

@media (min-width: 600px) {
  nav li {
    padding-right: 2rem;
    border-bottom: 1px solid #818185;
  }

  .filters__tab a:hover,
  .filters__tab div:hover {
    color: white;
  }
  .filters__tab:hover::after {
    width: calc(100% - 2rem);
    background-color: #ffffff;
  }
}

.alert {
  background: #fff;
  color: red;
  padding: 1rem;
}
